*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-back{
    position: relative;
    height: 170px;
}

.momo-logo{
    position:absolute;
    top: 2px;
    left: 200px;
    height: 125px;
}

.header{
    position: relative;
    display: flex;
}

.up-right-head{
    position: absolute;
    right: 100px;
    top: 30px;
    display: flex;
    align-items: center;
}

.up-right-head i{
    margin: 0 10px;
    color: #a18d59;
    font-size: 10px;
}

.down-right-head{
    position: absolute;
    top: 80px;
    right: 100px;
}

.down-right-head ul{
    display: flex;
}

.down-right-head li{
    margin: 0 10px;
    list-style-type: none;
}

.input-search{
    border: 0;
    border-radius: 16px;
    padding: 6px 12px 6px 28px;
}

.search{
    position: relative;
}

.search i{
    font-size: 12px;
}

.search-icon{
    position: absolute;
    left: 0.7px;
    top: 8px;
}

.bar{
    display: none;
}

@media  screen and (max-width:990px) {
    .up-right-head{
        display: none;
    }

    .bar{
        display: flex;
        position: absolute;
        right: 80px;
        top: 50px;
        cursor: pointer;
    }

    .bar i{
        font-size: 40px;
        color: #666;
    }

    .header-back{
        background-color: #f8f1de;
    }

    .down-right-head{
        display: none;
    }

    .down-right-head ul{
        flex-direction: column;
        
    }
}








