$head-color:#f8f1de;
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

.head-back{
    background-color: $head-color;
    padding: 0 30px;
}

.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-back img{
    height: 100px;
}

.bar i {
    font-size: 30px;
}

.middle-head li{
    font-size: 15px;
    padding: 14px 5px;
    list-style: none;
    border-bottom:1px solid #63470013;
}

.social i{
margin: 15px ;
opacity: 50%;
font-size: 12px;
}

.search {
    position: relative;
}

.search input{
    border: 0;
    padding: 6px 0 6px 30px ;
    border-radius: 16px;
    font-size: 14px;
}

.search i{
    position: absolute;
    left: 8px;
    top: 8px;
    opacity: 50%;
}

.bottom-head{
    padding: 14px 0 48px 0;
}

.all-catagory{
    display: none;
}








