$head-color:#f8f1de;
$gold-color:#ad8654;
$red-color:#d8242f;
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}


.head-back{
    background-color: $head-color;
    padding: 0 30px;
}

.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-back img{
    height: 100px;
}

.bar i {
    font-size: 30px;
}

.middle-head li{
    font-size: 15px;
    padding: 14px 5px;
    list-style: none;
    border-bottom:1px solid #63470013;
}

.social i{
margin: 15px ;
opacity: 50%;
font-size: 12px;
}

.search {
    position: relative;
}

.search input{
    border: 0;
    padding: 6px 0 6px 30px ;
    border-radius: 16px;
    font-size: 14px;
}

.search i{
    position: absolute;
    left: 8px;
    top: 8px;
    opacity: 50%;
}

.bottom-head{
    padding: 14px 0 48px 0;
}

.all-catagory{
    display: none;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .dot-list{
    position: absolute;
    top: 5px;
    right: 15px;
  }

  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: white;
  }

  

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.374);
    border: 0;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  

.text-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 35px 0 35px;
    position: relative;
    margin-bottom: 110px;
}

.gold-text{
    color: $gold-color;
}

.red-text{
    color:$red-color;
}

.text-one p{
    padding: 20px 0;
    font-size: 18px;
    color: #666;
}

.food-image1{
   position: absolute;
   right: -20px;
}

.food-image2{
    position: absolute;
   top:-20px;
   left:20px;
}

.food-image1 img{
    width: 240px;
}

.food-image2 img{
    width: 200px;
}

.food-img{
    display: flex;
    position: relative;
}
  

.next-and-back{
    display: flex;
    justify-content: space-between;
    color: white;
}

.back-image{
    background-color: black;
    padding: 20px;
    opacity: 50%;
    position: absolute;
    top: 80px;
}

.next-image{
    background-color: black;
    padding: 20px;
    opacity: 50%;
    position: absolute;
    right:0;
    top: 80px;
}

.text-two p{
    padding: 20px 0;
    font-size: 18px;
    color: #666;
}


.text-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 35px;;
    position: relative;
}

.text-two h2{
    text-align: center;
}

.slideshow {
    position: relative;
    max-width: 100%;
    margin: auto;
  }
  
  .slide {
    display: none;
    top: 0;
    left: 0;
  }
  
  .slide img {
    width: 100%;
  }

  .image-premium img{
    width: 100%;
  }
  
.image-premium {
    display: flex;
    text-align: center;
}

.image-premium div{
    padding:0 5px;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
}

.premium2{
    display: none;
}
.premium3{
    display: none;
}

.text-pre{
    font-size: 16px;
    font-weight: 800;
    color: #666;
}


.text-two{
    background-color: $head-color;
}


.back-text-one img{
    width: 20%;
    opacity: 20%;
}

.back-one-1{
    position: absolute;
    top:150px;
    left:5px;
}

.back-one-2{
    position: absolute;
    top: 100px;
    right: 5px;
}

.back-one-3{
    position: absolute;
    bottom:40px;
    left: 150px;
}

.foot{
    background-color: $head-color;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    color: $gold-color;
    font-size: 14px;
    font-weight: 600;
    
}

.foot div{
    padding: 10px 0;
}



.foot-text-right{
    display: flex;
    flex-direction: column;
}

.back-text-top{
    vertical-align: middle;
    width: 100%;
}

.head-res{
    display: none;
}


.back-text-bottom{
    width: 100%;
}

.text-one-res{
    display: none;
}

@media  screen and(min-width:576px) {
    .premium2{
        display: block;
    }

    .food-image1{
        position: absolute;
        right: 40px;
     }
     
     .food-image2{
         position: absolute;
        top:-20px;
        left:70px;
     }
     
     .food-image1 img{
         width: 240px;
     }
     
     .food-image2 img{
         width: 200px;
     }
     
     .food-img{
         display: flex;
         position: relative;
     }


  
}
@media screen and(min-width:768px){
    .premium3{
        display: block;
    }

    .food-image1{
        position: absolute;
        right: 140px;
     }
     
     .food-image2{
         position: absolute;
        top:-20px;
        left:140px;
     }
     
     .food-image1 img{
         width: 300px;
     }
     
     .food-image2 img{
         width: 300px;
     }
     
     .food-img{
         display: flex;
         position: relative;
     }
}

@media  screen and(min-width:992px) {
    .head-back{display: none;
    }


   

    .main-content{
        position: relative;
    }

    .head-res{
        position: absolute;
        display: block;
        top: 0;
        width: 100%;
        font-size: 18px;
    }

    .back-head{
       width: 100%;
       min-height: 150px;
    }

  
    .left-top{
        position: absolute;
        left: 180px;
        top: -1px;
    }

    .right-top{
        position:absolute;
        right: 180px;
        top: 10px;
    }

    .left-top img{
        width: 100px;
     
    }

   .top-right-top{
    display: flex;
    justify-content: flex-end;
   }

    .bottom-right-top ul{
        list-style: none;
        display: flex;
    }

    .bottom-right-top li{
        padding: 0 10px;
    }



    .text-one{
        display: none;
    }

    .food-back-text-one{
        position: absolute;
        right: -50px;
        bottom: -150px;
        width: 50%;
    }

    .food-back-text-one img{
        width: 100%;
    }

    .food-image1{
        position: relative;
        left: -30px;
    }

    .food-image1 img{
        width: 100%;
    }

    .text-one-part{
        display: flex;
        justify-content: space-between;
    }

    .food-img-left{
        position: relative;
        width: 50%;
    }

    .text-one-right{
        justify-content: flex-end;
        width: 50%;
        color: #666;
    }

    .text-one-res{
        position: relative;
        margin-top: 50px;
    }

    .text-one-res{
        display: block;
    }
}



